[submodule "src/3rdparty/td"]
	path = src/3rdparty/td
	url = https://github.com/tdlib/td.git
[submodule "src/3rdparty/cli"]
	path = src/3rdparty/cli
	url = https://github.com/daniele77/cli.git
[submodule "src/3rdparty/termcolor"]
	path = src/3rdparty/termcolor
	url = https://github.com/ikalnytskyi/termcolor.git
[submodule "src/3rdparty/CLI11"]
	path = src/3rdparty/CLI11
	url = https://github.com/CLIUtils/CLI11.git
[submodule "src/3rdparty/nowide"]
	path = src/3rdparty/nowide
	url = https://github.com/boostorg/nowide.git
